﻿body {
    background-color: #97d7d8;
}
ul {
    list-style-type: disc;
}
img {
    width: 200px;
    height: 200px;
    border: 2px solid black;
}
.details
{
    font-weight: bold;
}

img, p {
    margin:0px;
}

dt {
    font-style: italic;
}