﻿body {
    background-color: #97d7d8;
}
span {
    float: left;
    width: 20%;
}
h1 {
    font-style: italic;
}

img {
    width: 170px;
    height: 300px;
}

#info + div {
    margin-bottom: -5px;
}

ol {
    list-style-type: decimal;
}

div.occup {
    margin-left: 50px;
}

div.name {
    font-style: italic;
}

#addInfo {
    font-style: italic;
}