﻿body {
}
#fstLvl {
    list-style-type: upper-roman;
}

#sndLvlFst {
    list-style-type: lower-latin;
}

#sndLvlSnd {
    list-style-type: decimal;
}

#SndLvlTrd {
    list-style-type: disc;
}

#TrdLvl {
    list-style-type: circle;
}

#FthLvl {
    list-style-type: square;
}