﻿body {
    background:black;
}
table {
    border-collapse:collapse;
    border-spacing:0px;
    font-size:17pt;
    text-align:center;
}
tr, td {
    border:1px solid skyblue;
    height:50px;
}
#result {
    width:200px;
    height:35px;
    border:0px;
    text-align:right;
    font-size:17pt;
    color:skyblue;
    background:black;
}

.nums {
    width:30px;
    height:30px;
    border:none;
    background:none;
    font-size:17pt;
    color:skyblue;
}

#zero {
    width:70px;
    height:30px;
    border:none;
    background:none;
    font-size:17pt;
    color:skyblue;
}