﻿body {
}
ul li:before { 
    content:"-"; 
    position:relative; 
    left:-5px;
}
ul li { 
    list-style-type:none;
    text-indent:-30px; 
}

p, ul {
    margin: 0px;
}

hr {
    margin-top: -2px;
    margin-bottom: -2px;
}
