﻿body {
}
table {
    border-spacing:0px;
    border-collapse:collapse;
}
td, th {
    text-align:center;
    vertical-align:middle;
    padding:5px;
}
thead th {
    border-bottom:1px solid black;
    font-size:larger;
    font-weight:bold;
}
thead a {
    color:deepskyblue;
}
thead a:hover {
    text-decoration:none;
    color:black;
}
.details {
    border:1px solid black;
    border-spacing:0px;
    border-collapse:collapse;
}

.details td {
    padding:5px;
}